*{
  padding: 10px;
  margin: 0px;
}


#button{
display: inline-block;
background-color:#fc999b;
color:#ffffff;
border-radius: 5px;
text-align:center;
margin-top:2px;
padding: 5px 15px;
}

#cancle{
  display: inline-block;
  background-color:#fc999b;
  color:#ffffff;
  border-radius: 5px;
  text-align:center;
  margin-top:2px;
  padding: 5px 15px;
}
